<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in product %}
        {%  for j in i.prod_cat.all %}
            <h2>{{ j.name }}</h2>
            <a href="{% url 'product_detail' j.id %}"><img src="{{ j.img.url }}" width="400px" alt=""></a>
        {% endfor %}
    {% endfor %}
    
</body>
</html>